@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
  // background-color: beige;
  // background: transparentize($color: beige, $amount: 0.8);
  background-image: url('/rug.jpg');
 

}

.add {
  background: pink;
  font-family: monospace;
  padding: 7px;
  border-radius: 10px;
  border-color: darkorchid;
  border: solid 3px;
  margin: 10px;
}

.edit {
  background: pink;
  font-family: monospace;
  padding: 7px;
  border-radius: 10px;
  border-color: darkorchid;
  border: solid 3px;
  margin: 10px;
}

button {
  background-color: transparent;
  border: none;
}

.mouse-img {

  width: 90px;  
  transform: rotate(-20deg);
  transition: transform 0.2s ease
}

.mouse-img:hover {
  transform: rotate(-40deg);
}

li {

  
}

ul {
  border: 3px solid rgb(110, 110, 110);
  border-radius: 30px;
  padding: 20px;
  width: fit-content;
  background-color: transparentize($color: pink, $amount: .4);
  font-family: monospace;
  font-size: x-large;

}

b {
  font-family: monospace;
  font-size: x-large;
}

.app {
  
}
.Title {
  padding: 20px;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 152, 255);
  width: fit-content;
  border: 3px solid rgb(110, 110, 110);
  border-radius: 30px;
  

}

.title {
  margin: 5px;
}

form{
  border: 3px solid rgb(110, 110, 110);
  border-radius: 30px;
  padding: 20px;
  width: fit-content;
  background-color: rgb(255, 152, 255);
  font-family: monospace;
  font-size: x-large;
  margin: auto;
  margin-top: 15px;
}

h1 {
  font-family: monospace;

}